{% extends "auctions/layout.html" %}

{% block body %}

    {% if "create" in request.path %}
        <h2>Create Listing:</h2>
    {% else %}
        <h2>Edit Listing:</h2>
    {% endif %}

    <form action="{% url 'auctions:create' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.name.capitalize }}: <br>
                {{ field }}
            </div>
        {% endfor %}

        {% if "create" in request.path %}
            <input type="submit" class="btn btn-success" title="Save" name="Save" value="Save">
        {% else %}
            <input type="hidden" name="listing_id" value={{ listing_id }}>
            <input type="submit" class="btn btn-success" title="Overwrite" name="Overwrite" value="Save">
        {% endif %}
        <a href="{% url 'auctions:index' %}" class="btn btn-secondary">Cancel</a>
    </form>

{% endblock %}