body {
    padding: 10px;
}

img {
  padding: 5px; /* Some padding */
  width: 250px; /* Set a small width */
}

.fieldWrapper {
    width: 20%;
}

textarea {
    height: 10vh;
}

.fieldWrapper {
    padding-bottom: 5px;
}
