body {
    padding: 10px;
}

img {
  padding: 5px; /* Some padding */
  width: 250px; /* Set a small width */
}

#img_enlarged {
    width: 500px;
}

p {
    margin: 5px;
}

img {
    font-style: italic;
}

.anchor {
    color: black;
}

.fieldWrapper {
    width: 20%;
}

textarea {
    height: 10vh;
}

.fieldWrapper {
    padding-bottom: 5px;
}

#date_creation {
    font-size: small;
    color: gray;
}

#bid_count {
    font-size: smaller;
}

.price_listing {
    font-weight: bold;
}

.comment-header {
    font-size: smaller;
}

.comment-btn {
    font-size: smaller;
}